.inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.inner > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /*max-width: 53%;*/
    max-width: 37.5em;
    /*animation: rotating 60s linear infinite;*/
}

@keyframes rotating {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media (max-width: 1024px) {
    .inner > img {
        top: 100%;
        transform: translate(-50%, -90%);
    }
}

/*@media screen and (max-width: 1920px) {*/
/*    .inner > img {*/
/*        width: 100%;*/
/*        max-width: 1000px;*/
/*    }*/
/*}*/